<section>
<h2> Messages w/ Fit Buddies</h2>

<% conversationList.forEach((oneConversation) => { %>
  <% if (oneConversation) { %>
<div class="table-container" id="message-list-container">
<table class="table table-filter">
<tbody>
	<td>
		<div class="media">
			<a href="#" class="pull-left">
				<img src="/images/db.jpg" class="media-photo">
			</a>
			<div class="media-body">
				<span class="media-meta pull-right">Febrero 13, 2016</span>
				<h4 class="title">
					<a href="/messages/<%=oneConversation.recipient._id %>"><%= oneConversation.recipient.name %></a>
				</h4>
				<p class="summary"><%=oneConversation.body %></p>
			</div>
		</div>
	</td>
</tr>
</div>
  <% } %>
<% }) %>
</section>
