<% if (signupFeedback.length > 0) { %>
  <p class="success-message"> <%=signupFeedback %></p>
<% } %>


  <div class="splash-page">
    <h1> A way to make the gym</h1>
    <h1> more enjoyable! </h1>
    <br>
    <h4> <a href="/signup">Sign Up</a> for Fit Buddy!</h4>
  </div>
