body {
 /*overflow-x: hidden;*/
 font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
 line-height: 1.75; }

a {
 color: #fed136; }
 a.active, a:active, a:focus, a:hover {
   color: #fec503; }

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 700;
 font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 text-transform: uppercase; }

section {
 padding: 0px 0; }
 section h2 {
   text-align: center;
   font-size: 40px;
   margin-top: 0;
   margin-bottom: 15px; }
 section h3{
   font-size: 16px;
   font-weight: 400;
   font-style: italic;
   margin-bottom: 75px;
   text-transform: none;
   font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }


   #form {
     margin: 30px auto;
     width: 380px;
   }

   #form label {
     color: #666;
     display: inline-block;
     margin-bottom: 10px;
     text-align: center;
     width: 100%;
   }



   #form button {
     background: #43a3e6;
     border: 1px solid #43a3e6;
     border-radius: 4px;
     color: #fff;
     cursor: pointer;
     display: inline-block;
     font-size: 14px;
     padding: 8px 16px;
     text-decoration: none;
     text-transform: uppercase;
     transition: .3s ease background;
     width: 100%;
   }

   #form button:hover {
     background: #fff;
     color: #43a3e6;
     transition: .3s ease background;
   }

   .error-message {
     background: #F02B63;
     box-sizing: border-box;
     color: #fff;
     margin: 20px auto;
     padding: 20px;
     width: 100%;
   }

   .success-message {
     background: linear-gradient(to top left, #009245, #FCEE21);
     box-sizing: border-box;
     color: #fff;
     margin: 20px auto;
     padding: 20px;
     width: 100%;
   }


   #messages { list-style-type: none; margin: 0; padding: 0; }
   #messages li { padding: 5px 10px; }
   #messages li:nth-child(odd) { background: #eee; }

#searchpic {
  height: 100px;
  width:100px;
}

#chatbutton {
  
}




@media (min-width: 768px) {
 section {
   padding: 10px 0; } }

::-moz-selection {
 background: #fed136;
 text-shadow: none; }

::selection {
 background: #fed136;
 text-shadow: none; }


body {
 -webkit-tap-highlight-color: #fed136; }

#mainNav {
 background-color: #222222; }
 #mainNav .navbar-toggler {
   font-size: 12px;
   right: 0;
   padding: 13px;
   text-transform: uppercase;
   color: white;
   border: 0;
   background-color: #fed136;
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   text-transform: uppercase; }
 #mainNav .navbar-brand {
   color: #fed136;
   font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }
   #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
     color: #fec503; }
 #mainNav .navbar-nav .nav-item .nav-link {
   font-size: 90%;
   font-weight: 400;
   padding: 0.75em 0;
   letter-spacing: 1px;
   color: black;
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   text-transform: uppercase; }
   #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
     color: #fed136; }

@media (min-width: 992px) {
 #mainNav {
   padding-top: 25px;
   padding-bottom: 25px;
   -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
   -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
   transition: padding-top 0.3s, padding-bottom 0.3s;
   border: none;
   background-color: transparent; }
   #mainNav .navbar-brand {
     font-size: 1.75em;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s; }
   #mainNav .navbar-nav .nav-item .nav-link {
     padding: 1.1em 1.4em !important; }
   #mainNav.navbar-shrink {
     padding-top: 0;
     padding-bottom: 0;
     background-color: #222222; }
     #mainNav.navbar-shrink .navbar-brand {
       font-size: 1.25em;
       padding: 12px 0; } }
