<section>
<h2>Log In</h2>

<form id="form" method="post" action="/process-login">
<div class="form-group">


  <% if(securityFeedback.length > 0) { %>
      <p class="success-message"> <%=securityFeedback %> </p>
  <% } %>

  <% if(flashError.length > 0) { %>
    <p class="error-message"> <%= flashError %> </p>
  <% } %>

  <label for="email-input"> Email </label>
  <input id="email-input" type="email" name="loginEmail" placeholder="Email" class="form-control">
  <br>

  <label for="password-input"> Password </label>
  <input id="password-input" type="password" name="loginPassword" placeholder="Password" class="form-control">
  <br>
  <button class="form-control"> Log In </button>

  </div>
</form>
</section>
